<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../styles/header_and_sidemenu.css">
    <link rel="stylesheet" href="../styles/home_content_style.css">
    <link rel="stylesheet" href="../styles/general.css">
    <title>Home</title>
</head>
<body>
    
    <header class="main-header">
        <i onclick="moveMenu()" class='bx bx-menu menu-icon'></i>
        <span class="site-logo">MyStories</span>
    </header>

    <nav class="side-menu">
        <a href="homepage.html" class="menu-link">
            <i class='bx bx-home link-icon'></i>
            <span class="link-name">Home</span>
        </a>
        <a href="createpost.html" class="menu-link">
            <i class='bx bx-book-open link-icon'></i>
            <span class="link-name">New Story</span>
        </a>     
        <a href="#" class="menu-link">
            <i class='bx bx-user link-icon'></i>
            <span class="link-name">Profile</span>
        </a>
        <a href="#" class="menu-link">
            <i class='bx bx-cog link-icon'></i>
            <span class="link-name">Settings</span>
        </a>
        <a href="loginPage.html" class="menu-link">
            <i class='bx bx-log-out link-icon'></i>
            <span class="link-name">Logout</span>
        </a>
    </nav>

    <main class="main-content">
        
        <div class="home-content-container">

            <div class="story-block">

                <a href="#" class="block-link">
                    <h1 class="block-title">Title of the story</h1>
                </a>

                <p class="block-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt aperiam deleniti hic? Rem unde odio modi sit consectetur illum officia porro facere sapiente quos. Veniam.</p>

            </div>

            <div class="story-block">

                <a href="#" class="block-link">
                    <h1 class="block-title">Title of the story</h1>
                </a>

                <p class="block-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt aperiam deleniti hic? Rem unde odio modi sit consectetur illum officia porro facere sapiente quos. Veniam.</p>

            </div>

            <div class="story-block">

                <a href="#" class="block-link">
                    <h1 class="block-title">Title of the story</h1>
                </a>

                <p class="block-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt aperiam deleniti hic? Rem unde odio modi sit consectetur illum officia porro facere sapiente quos. Veniam.</p>

            </div>

        </div>

    </main>

    <script src="../scripts/sidemenu.js"></script>

</body>
</html>