<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../styles/header_and_sidemenu.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/login_form.css">
    <title>MyStories</title>
</head>
<body>
    
    <header class="main-header">
        <span class="site-logo">MyStories</span>
    </header>

    <main class="main-content">
        
        <div class="page-text-div">
            <span class="page-text">Go ahead! Share your story with us</span>
        </div>

        <div class="login-form-div">
            <form action="#" class="login-form">
                <div class="login-left">
                    <label for="user-login" class="login-label">Login:</label>
                    <input type="text" id="user-login" class="login-input" required>
                </div>
                <div class="login-right">
                    <label for="user-password" class="login-label">Password:</label>
                    <input type="password" id="user-password" class="login-input" required>
                </div>
                <div class="login-button-div">
                    <button type="submit" class="login-button">Enter</button>
                </div>           
            </form>
        </div>
        
    </main>

</body>
</html>